<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/stylesheet.css">
    <title>Home Page</title>
  </head>
  <body>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <div class="nav">
          <h1>Finto</h1>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
  </body>
</html>
